# Datetime in Python

The most commonly used classes are:
- datetime - allows us to work with times and dates together
- date - dates independent of time
- time - time independent of date
- timedelta - a duration of time (used for measuring and manipulation)

In [2]:
# Get current date and time
import datetime

datetime_object = datetime.datetime.now()
print(datetime_object)

2022-01-11 21:35:31.873338

In [3]:
# Get current date
date_object = datetime.date.today()
print(date_object)

2022-01-11

In [4]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

***

## datetime.date Class
instantiate *date* objects from the *date* class

In [5]:
d = datetime.date(2019, 4, 13)
print(d)

2019-04-13

In [6]:
from datetime import date

In [7]:
a = date(2019, 4, 13)
print(a)

2019-04-13

***

### Get Current Date

In [11]:
today = date.today()
print('Current date =', today)

Current date = 2022-01-11

***

### Get date from a timestamp

In [12]:
timestamp = date.fromtimestamp(1326244364)
print('Date =', timestamp)

Date = 2012-01-10

***

### Print today's year, month, and day

In [13]:
# date object of today's date
today = date.today()

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2022
Current month: 1
Current day: 11

***

## datetime.time Class
A time object instantiated from the *time* class represents the local time

In [14]:
from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print('a =', a)

# time(hour, minute, and second)
b = time(11, 34, 56)
print('b =', b)

# time(hour, minute, and second)
c = time(hour = 11, minute = 34, second = 56)
print('c =', c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print('d =', d)

a = 00:00:00
b = 11:34:56
c = 11:34:56
d = 11:34:56.234566

***

### Print hour, minute, second, and microsecond

In [15]:
a = time(11, 34, 56)

print('hour =', a.hour)
print('minute =', a.minute)
print('second =', a.second)
print('microsecond -', a.microsecond)
# The default value of microsecond is 0 
# if no argument is passed

hour = 11
minute = 34
second = 56
microsecond - 0

***

## datetime.datetime Class
information from both *date* and *time* objects

In [18]:
from datetime import datetime

# datetime(year, month, day)
# these first 3 arguments are mandatory when using this constructor
a = datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

***

### Print year, month, hour, minute, and timestamp

In [20]:
a = datetime(2017, 11, 28, 23, 55, 59, 342380)
print('year =', a.year)
print('month =', a.month)
print('day =', a.day)
print('hour =', a.hour)
print('minute =', a.minute)
print('timestamp =', a.timestamp())

year = 2017
month = 11
day = 28
hour = 23
minute = 55
timestamp = 1511938559.34238

***

## datetime.timedelta
- an object that represents the difference between two dates or times  
- You can use the *+* operator to find the sum, and you can multiply and divide a *deltatime* object by integers and floats

### Difference between two dates and times

In [21]:
from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print('t3 =', t3)

t4 = datetime(year = 2018, month = 7, day = 12, 
              hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, 
              hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print('t6 =', t6)

print('type of t3 =', type(t3))
print('type of t6 =', type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

***

### Difference between two timedelta objects

In [22]:
from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print('t3 =', t3)

t3 = 14 days, 13:55:39

***

### Printing negative timedelta object

In [23]:
from datetime import timedelta

t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1 - t2
print('t3 =', t3)
print('t3 =', abs(t3))

t3 = -1 day, 23:59:39
t3 = 0:00:21

***

### Time duration in seconds
using total_seconds() method

In [24]:
from datetime import timedelta

t = timedelta(days = 5, hours = 1, seconds = 33, 
              microseconds = 233423)
print('total seconds =', t.total_seconds())

total seconds = 435633.233423

***

## Python format datetime
python has *strftime()* and *strptime()* methods

### strftime()
datetime object to string
- creates formatted string from a given date, datetime, or time object

In [26]:
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print('time:', t)

# mm/dd/YY H:M:S format
s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
print('s1:', s1)

# dd/mm/YY H:M:S format
s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
print('s2:', s2)

time: 22:18:57
s1: 01/11/2022, 22:18:57
s2: 11/01/2022, 22:18:57

***

### strptime()
string to datetime
- the strptime() method creates a datetime object from a given string (representing date and time)

In [28]:
from datetime import datetime

date_string = "21 June, 2018"
print("date_string =", date_string)

date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00

***

## Handling timezone in Python

In [29]:
from datetime import datetime
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))


tz_NY = pytz.timezone('America/New_York') 
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S"))

tz_London = pytz.timezone('Europe/London')
datetime_London = datetime.now(tz_London)
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 01/11/2022, 22:23:51
NY: 01/12/2022, 00:23:51
London: 01/12/2022, 05:23:51